ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:10rem;
    width:10rem;
    margin-left: 25%;
    margin-top: 0;
    position: absolute;
    display: block;
    top: 46px;
    left: calc(50% 50px);
}

ion-toolbar{
    background-color: transparent;
    img{
        width: 65px;
        height: 50px;
        margin-right: 5px;
        float: right;
    }
}

ion-card-title{
    font-size: 170%;
    margin-left:8%;
}

ion-list{
    margin-left: 0%;
}

ion-item{
    height: auto;
    margin: 0 auto;
    display: block;
}

ion-label{
   margin-left:3%;
   margin-top:1.5em;
   font-weight: bold;
   width: 5em;
   float: right;
}

.ion-header{
    margin-top: -15px;
    height: 25%;
    background-color: rgba(211, 209, 209, 0.555);
    margin-bottom: 20%;
   
    border-radius: 0px 0px 5% 5%;
}

.separador{
    padding-bottom: 3em;
}

.left-item-label{
    margin-top: 0.8em;
    margin-left: 2em;
    font-size: 120%;
    font-weight: bold;
    width: 5em;
    float: left;
}