<ion-header>
  <ion-toolbar>  
    <img src="/assets/imgs/carecenterlogo.png">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>

  <div class="page-title">
    <center>Laudos médicos</center>
  </div>

  <!-- 1st card-->
  <div class="background-card">
    <ion-card>  
      <ion-card-content>
  
          <div class="card-content">
  
            <div class="left-content">
              Receita psiquiatra
              <p>por Dr.Márcio</p>
            </div>
            
            <div class="right-content">
              <p style="display:inline;float:left;margin-top:13%;font-weight: bold;font-size: 80%;">Válidade: 
                <br>  7 dias</p>
              <br><br><br>
  
              <div class="ver-button" button (click)="buttonClick()">
                <p class="ver">
                  ver         
                </p>
                <ion-icon name="open-outline" class="ver-laudo"></ion-icon>
              </div>
            </div>
            
          </div>
  
      </ion-card-content>
    </ion-card>
  
  </div>

<!-- 1st card-->
<div class="background-card">
  <ion-card>  
    <ion-card-content>

        <div class="card-content">

          <div class="left-content">
            Receita Dermatologista
            <p>por Dra.Alice</p>
          </div>
          
          <div class="right-content">
            <p style="display:inline;float:left;margin-top:13%;font-weight: bold;font-size: 80%;">Válidade: 
              <br>  21 dias</p>
            <br><br><br>

            <div class="ver-button" button (click)="buttonClick()">
              <p class="ver">
                ver         
              </p>
              <ion-icon name="open-outline" class="ver-laudo"></ion-icon>
            </div>
          </div>
          
        </div>

    </ion-card-content>
  </ion-card>

</div>

<!-- 1st card-->
<div class="background-card">
  <ion-card>  
    <ion-card-content>

        <div class="card-content">

          <div class="left-content">
            Receita Terapeuta
            <p>por Dra.Cláudia</p>
          </div>
          
          <div class="right-content">
            <p style="display:inline;float:left;margin-top:13%;font-weight: bold;font-size: 80%;">Válidade: 
              <br>  3 meses</p>
            <br><br><br>

            <div class="ver-button" button (click)="buttonClick()">
              <p class="ver">
                ver         
              </p>
              <ion-icon name="open-outline" class="ver-laudo"></ion-icon>
            </div>
          </div>
          
        </div>

    </ion-card-content>
  </ion-card>

</div>
