
<ion-content color="primary" >

  <div class="logo" >
    <img src="/assets/imgs/carecenterlogo.png">
  </div>

  <form [formGroup]="formGroup">

    <ion-item class="ion-margin-login">
      <ion-input type="text" placeholder="Email" formControlName="username"></ion-input>
    </ion-item>
 
    <ion-item class="ion-margin-senha">
      <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
    </ion-item >

<ion-button class="Redefinir" (click)="RedefinirSenha()" size="small" color="dark" shape="round" fill="clear">
  Redefinir Senha.
</ion-button>

<ion-button class="login" (click)="autenticar()" size="medium" color="warning" shape="round" fill="solid">
  Entrar
</ion-button>

<ion-button class="login2" (click)="CriarConta()" size="small" color="dark" shape="round" fill="clear">
  Seja um novo usuário.
</ion-button>

  </form>
</ion-content>