<ion-header>
  <ion-toolbar>  
    <img src="/assets/imgs/carecenterlogo.png">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color='primary'>

  <div class="page-title">
    <center>Consultas</center>
  </div>

  <div class="background-card">
  <ion-card> 
    
    <ion-card-content>
        <div class="title">
          <center>Pendentes</center>
        </div>
        <div class="line"></div>

        <div class="card-content">

          
        </div>

        <div class="line"></div>

        <div class="card-content">

          <div class="left-content">
            Física-
            <div class="spacing-left-content"></div>
            <p>Fisioterapeuta</p>
          </div>
          <div class="right-content">
            <ion-icon name="time-outline" style="font-size: 160%; margin: 0 0 0 26%;"></ion-icon>
            <p style="font-weight: bold;">Em 9 dias</p>
          </div>
          
        </div>
        <div class="line"></div>


    </ion-card-content>
  </ion-card>

</div>


<div class="background-card">
  <ion-card> 
    
    <ion-card-content>
        <div class="title">
          <center>Anteriores</center>
        </div>
        <div class="line"></div>

        <div class="card-content">

          <div class="left-content">
            Online-
            <div class="spacing-left-content"></div>
            <p>Psicólogo no celular</p>
          </div>
          <div class="right-content">
            <ion-icon name="checkmark-circle" style="font-size: 160%; margin: 0 0 0 26%;"></ion-icon>
            <p style="font-weight: bold;">À 10 dias</p>
          </div>
          
        </div>
        <div class="line"></div>

        <div class="card-content">

          <div class="left-content">
            Online-
            <div class="spacing-left-content"></div>
            <p>Psiquiatra no celular</p>
          </div>
          <div class="right-content">
            <ion-icon name="checkmark-circle" style="font-size: 160%; margin: 0 0 0 26%;"></ion-icon>
            <p style="font-weight: bold;">À 16 dias</p>
          </div>
          
        </div>
        <div class="line"></div>

        <div class="card-content">

          <div class="left-content">
            Física-
            <div class="spacing-left-content"></div>
            <p>Dermatologista</p>
          </div>
          <div class="right-content">
            <ion-icon name="checkmark-circle" style="font-size: 160%; margin: 0 0 0 26%;"></ion-icon>
            <p style="font-weight: bold;">À 21 dias</p>
          </div>
          
        </div>
        <div class="line"></div>

    </ion-card-content>
  </ion-card>
</div>

</ion-content>
