.item-inner{
    background:black;
    margin: 0 auto;
}
.btnini2{
   
    width: 50%;
    border-radius: 80px;
    margin:0 auto;
    background-color: black;
   
    

}

.logo{
    margin:0 auto;
}


ion-item{
    border: 5px;
    border-radius: 80px;
    margin:0 auto;
    margin-top: 5px;
    width: 80%;
    
}
.separador{
    margin-top: 3%;
}