<ion-header class="ion-no-border">

</ion-header>
  
  <ion-content color="primary" >

    <ion-button class="btnVoltar" fill="clear" size="big" color="dark" onClick="history.go(-1)">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="logo" >
      <img src="/assets/imgs/carecenterlogo.png" style="margin-left:20.5%">
    </div>
    <div class="separador"></div>

    <div class="login-container">
      <form class="form">

        <ion-item class="ion-margin-redef" style="margin-bottom: 1em;">
          <ion-input shape="round" type="text" placeholder="Insira o e-mail cadastrado"></ion-input>
        </ion-item>
    
        <ion-button class="btnProsseguir" shape="round" size="medium" color="dark" expand="block"
          (click)="atualizar()" style="margin-left: 26%;">Atualizar</ion-button>
        
      </form>
    </div>
  
  </ion-content>

  
  
  
  
  
   