
ion-toolbar{
    background-color: transparent;
    img{
        width: 65px;
        height: 50px;
        margin-right: 5px;
        float: right;
    }
}

ion-label{
   color: #000;
   margin: 0 auto;
   margin-left: 25%; 
}

ion-card-content{
    height: 100%;
}

ion-item{
    width: 70%;
    height: auto;
    margin: 0 auto;
   display: block;
}

.page-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    color: rgb(61, 61, 61);
    margin-left: 26%;
}
.ion-header{
    margin-top: -15px;
    height: 15%;
    background-color: rgba(211, 209, 209, 0.555);
    margin-bottom: 20%;
   
    border-radius: 0px 0px 5% 5%;
    p{
        color: black;   
    }
}
.content-header{
    height:3.5em;
}
.left-title{
    float: left;
    display: inline;
    font-size: 180%;
    font-weight: bold;
    margin-left: 3%;
}
.right-discount{
    float:right;
    display: inline;
    font-weight: bold;
    font-size: 120%;
    margin-top: 3%;
    color: rgb(73, 73, 73);
}
.right-discount-p{
    float:right;
    display: inline;
    font-weight: bold;
    font-size: 150%;
    margin-top: 3%;
    color: rgb(73, 73, 73);
    }
.discount-spacing{
    margin-left: 12%;
}
.cards{
    margin-top:25%;
}
