ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:7rem;
    width:7rem;
    margin-left: 29%;
    margin-top: 5px;
    position: absolute;
    display: block;
    top: 12px;
    left: calc(50% 50px);
}

ion-toolbar{
    background-color: transparent;
    img{
        width: 65px;
        height: 50px;
        margin-right: 5px;
        float: right;
    }
}

ion-label{
   color: #000;
   margin: 0 auto;
   margin-left: 25%;
        
}

ion-item{
    width: 70%;
    height: auto;
    margin: 0 auto;
   display: block;
  
}

.ion-header{
    margin-top: -15px;
    height: 15%;
    background-color: rgba(211, 209, 209, 0.555);
    margin-bottom: 20%;
   
    border-radius: 0px 0px 5% 5%;
    p{
        color: black;
    }
}

.avatardiv{
    margin-bottom: 20%;
}

.cards{
    margin-top:25%;
}
